 .modal {
    position: fixed;
    top: 30%;
    left: 50%;
    right: auto;
    bottom: auto;
    text-align: center;   
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    min-width: 320px; 
 }

.modal_inner {
    border: 2px solid red; 
    width: 110%;
    background: #fff;
    border-radius: 5px; 
    padding: 0px 5px 10px;
}
  
.modal_close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}  