.body {
    display: grid;
    justify-content: center;
    text-align: center;
}

.title {
    width: 600px;
    font: 40pt sans-serif;
}

.search-panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}