.todolist-item {
    width: 600px;
    min-height: 40px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #00b5ad;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.todolist-buttons {
    margin-left: auto;
    max-width: 60px;
    min-width: 60px;
}

.todolist-buttons i:hover{
   color:#00b5ad;
}

.todolist-checkbox{
    margin: auto 10px auto 5px;
    display: flex;
    align-items: center;
}

.todolist-input{
    width: 500px;
}

.todolist-text{
    text-align: start;
}

.done-border{
    border : 2px solid red; 
}