.ToDoList-Item {
    width: 600px;
    min-height: 40px;
    margin-top: 10px;
    padding: 5px;
    border: 2px solid #00b5ad;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.ToDoList-Buttons {
    margin-left: auto;
    max-width: 60px;
    min-width: 60px;
}

.ToDoList-Buttons i:hover{
   color:#00b5ad;
}

.ToDoList-Checkbox{
    margin: auto 10px auto 5px;
    display: flex;
    align-items: center;
}

.ToDoList-Text{
    text-align: start;
}

.done-border{
    border : 2px solid red; 
}